
<!-- Toolbar -->
<app-header></app-header>

<div class="content" role="main">

  <section class="d-flex flex-row justify-content-between w-100">
    <app-card>
      Theme Card
    </app-card>
    <app-card>
      Theme Card
    </app-card>
    <app-card>
      Theme Card
    </app-card>
  </section>

  <div class="mt-4 w-100 d-flex flex-row align-items-center">
    <input id="darkTheme" type="checkbox" [formControl]="darkTheme">
    <label for="darkTheme" class="m-0 pl-2">Dark Theme</label>
  </div>

  <form class="form-search mt-4 w-100" [formGroup]="form">
    <div class="form-group input-group">
      <span class="input-group-addon"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
      <input type="text" class="form-control" placeholder="Search user..." formControlName="searchTerm">
    </div>
    <ul>
      <li *ngIf="loading">Loading users...</li>
      <li *ngFor="let user of (users$ | async)">
        {{user.login}} -> Score : {{user.score}}
      </li>
    </ul>
  </form>

</div>
<router-outlet></router-outlet>
